<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Purple Echo</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <h1>The Purple Echo</h1>
        <hr>

        <!-- NAVIGATION BAR -->
        <nav class="horizontal_navigation_bar">
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">
                        <h4>HOME</h4>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('members') }}">
                        <h4>MEMBERS</h4>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('cultural_influence') }}">
                        <h4>CULTURAL INFLUENCE</h4>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('discography') }}">
                        <h4>DISCOGRAPHY</h4>
                    </a>
                </li>

                <!-- <li>
                    <a href="./05achievements_page.html">
                        <h4>ACHIEVEMENTS</h4>
                    </a>
                </li>

                <li>
                    <a href="./06philanthropical_history_page.html">
                        <h4>PHILANTHROPICAL HISTORY</h4>
                    </a>
                </li> -->
            </ul>
        </nav>
        <hr><br>
    </header>

    <div class="subsections">
        <div class="ci-left">
            <h3>KOREAN IDENTITY</h3>

            <p>
                BTS is a South Korean group whose music, language, and public identity are closely tied to their Korean
                background. They primarily release music in Korean and often reference personal experiences, social
                themes,
                and values rooted in South Korean society. Rather than presenting themselves as culturally neutral, BTS
                consistently emphasizes their identity as Korean artists. <br><br>
                Through interviews, performances, and global appearances, BTS openly represents South Korea on an
                international stage, making Korean identity more visible and familiar to audience worldwide.
            </p>
        </div>
        <img src="./static/images/03cultural_influence_page/at_grammy.jpg">
    </div><hr>

    <div class="subsections">
        <img src="./static/images/03cultural_influence_page/hanbok_runbts.jpg">
        <div class="ci-right">
            <h3>BRIDGE FOR KOREAN CULTURAL APPRECIATION</h3>

            <p>
                As BTS gained international popularity, global auddiences were introduced to Korean language, customs,
                and
                perspectives through their music and content. Fans oftne encounter Korean words, expressions, and
                cultural
                references for the first time throug BTS, leading to curiosity and apprecitation rather than passive
                consumption. <br><br>
                By staying connected to their cultural roots while reaching a global audience, BTS acts as a bridge
                between
                South Korean culture and the rest of the world, encouraging respectful engagement with Korean traditions
                and
                modern life.
            </p>
        </div>
    </div><hr>

    <div class="subsections">
        <div class="ci-left">
            <h3>BLENDING KOREAN CULTURE WITH GLOBAL MUSIC</h3>
            <p>
                BTS's work blends global musical influences with Korean cultural elements. While their sound
                incorporates
                genres such as hip-hop, pop, and R&B, their lyrics frequently remain in Korean and reflect themes
                connected
                to youth society and self-identity. <br><br>
                This combination allows BTS to connect with international listeners without removing the cultural
                context of
                where they come from, showing how Korean culture can exist within global media.
            </p>
        </div>
        <img src="./static/images/03cultural_influence_page/hanbok_gyeongbokgung.jpg">
    </div><hr>

    <div class="subsections">
        <img src="./static/images/03cultural_influence_page/learn_korean_w_bts.jpg">
        <div class="ci-right">
            <h3>INFLUENCE ON INTEREST IN THE KOREAN LANGUAGE</h3>
            <p>
                Many international fans are exposed to the Korean language through BTS's music, performances, and online
                content. This exposure often motivates listeners to learn Korean in order to better understand lyrics,
                interviews, and cultural nuances. <br><br>
                As a result, BTS has played a role in increasing global interest in Korean language education, with fans
                viewing language learning as a way to engage more deeply with Korean culture.
            </p>
        </div>
    </div><hr>

    <div class="subsections">
        <div class="ci-left">
            <h3>BTS AND THE GLOBAL PRESENCE OF KOREAN CULTURE</h3>
            <p>
                BTS is widely recognized as one of the most influential South Korean cultural figures globally. Their
                success has contributed to the visibility of Korean popular culture and has helped South Korea as a
                major
                contributor to global entertainment. <br><br>
                Through music, media, and fan engagement, BTS has become closely associated with the global spread of
                contemporary Korean culture.
            </p>
        </div>
        <img src="./static/images/03cultural_influence_page/at_white_house.jpg">
    </div><hr>

    <footer id="footer">
        All pictures are downloaded from Pinterest.
    </footer>
</body>

</html>